/*Css file of the about html*/
header{
    background-color: rgba(250, 250, 250, 0.89);    
    margin-top: 0px;
}
.content{
    margin-left: 200px;    
}
.content h1{
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 0px;
}
.content p{
    margin-top: 0px;
    margin-top: 0%;
    padding-bottom: 50px;
    color: rgba(219, 219, 224, 0.788);
}
nav{
    height: 15px;
}
.navbar{
    display: flex;
    margin-left: 200px;    
}
a {
    text-align: center;
    padding: 10px 16px;
    color: rgb(12, 4, 4);
    text-decoration: none;
  }
  a:hover{
      color: rgba(219, 219, 224, 0.788);
  }
  img{
      height: 300px;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
.item1{
    width: 30%;
    margin-left: 200px;
}
.item{
    width: 50%;
}
.logo{    
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-start;
}
.logo img{
    width: 90px;
    height: 90px;
}
  footer{
      display: flex;
      width: 100%;
      height: 400px;
      background-color: rgb(105, 66, 247);
      color: rgb(250, 249, 249);
      align-content: center; 
      flex-direction: row;
      justify-content: center; 
      justify-content: space-around;
       
  }
  footer a {
      color: #fff;            
    }    
  .footer-column{            
      display: flex;
      flex-direction: column;
      align-items: flex-start;  
      margin-top: 40px;         
  }
  .hack{
    margin-top: 0px;
  }  
  .footer-column h3{
      margin-bottom: 0px;
  }  
  #footer-left{
      margin-left: 100px;
  }
  #footer-right{
    margin-right: 100px;
}
#footer-archive{
    text-anchor: 40px;
}
/*---MEDIA QUERRIES--*/
@media (max-width: 603px){
    .navbar .container footer{
        flex-direction: column;
    }
    .item2{
        order: -1;
    }
}
  